@import "./animations";
@import "./responsive";

$primary-background-color: #EDF2F6;
$primary-card-background-color: #F8F8F8;

$primary-header-color: #6E79C1;
$primary-sub-header-color: #2675A0;
$secondary-header-color: #45749f;

$primary-font-color: #4a4a4a;
$primary-link-color: #6495f9;
$highlight-color: #6573F4;

$border-radius-default: 10px;
$default-component-spacing: 20px 0;

/* Generic Styles*/
body {
  font-family: 'PT Sans', sans-serif;
  background-color: $primary-background-color;
  color: $primary-font-color;
  font-size: 16px;
  line-height: 23px;
}

ul {
  list-style: none;
  padding-left: 0;
}​

.funkcorp-container {
  padding: 0 20px;
}

.shadow {
  -webkit-box-shadow: 2px 2px 10px #c1c1c1;
  -moz-box-shadow: 2px 2px 10px #c1c1c1;
  box-shadow: 2px 2px 10px #c1c1c1;
}

.funkycorp-header {
  &-main {
    color: $primary-header-color;
  }
  &-secondary {
    color: $primary-sub-header-color;
    word-break: break-word;
    font-size: 16px;
    line-height: 16px;

    @media (min-width: 900px) {
      font-size: 24px;
      line-height: unset;
    }

  }
}

.generic-toggle-icon-container {
  position: absolute;
  right: 0;
  .generic-arrow {
    width: 25px;
    cursor: pointer;
    transition: transform .6s ease-in-out;
    &.up {
      transform: rotate(180deg);
    }
    &.down {
      transform: rotate(0deg);
    }
  }
}

a {
  color: $primary-link-color;
  &:hover {
    color: $highlight-color;
  }
}

/* Thumbnail Grid */
.funkycorp-employee-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 5px;

  @media (min-width: 900px) {
    margin: 0 25px;
    justify-content: space-between;
  }

  .funkycorp-employee-thumb {
    cursor: pointer;
    overflow: hidden;
    border-radius: $border-radius-default;
    max-width: 170px;
    max-height: 200px;
    margin-bottom: 10px;

    filter: grayscale(100%);
    &.selected,&:hover {
      filter: grayscale(0%);
    }

    img {
      max-width: 170px;
      max-height: 200px;

      //border: solid 1px $highlight-color;
      transition: transform 0.35s;
      &:hover {
        -webkit-transform: scale(1.10);
        -moz-transform: scale(1.10);
        -ms-transform: scale(1.10);
        -o-transform: scale(1.10);
        transform: scale(1.10);
      }

    }

    :hover {
      //-webkit-animation: swing 1s ease;
      //animation: swing 1s ease;
      //-webkit-animation-iteration-count: 1;
      //animation-iteration-count: 1;
    }

  }
}

/* Panel Grid */
.funkycorp-employee-panel-grid {
  display: flex;
  //justify-content: space-around;
  margin: $default-component-spacing;

  .funkycorp-employee-thumb {

    img {
      border-radius: $border-radius-default;
      float: left;
      margin: 0 20px 20px 0;
      max-height: 150px;

      @media (min-width: 900px) {
        max-height: 200px;
        max-width: 170px;
      }

    }
  }
}

.funkycorp-employee-card {
  display: flex;
  flex-direction: column;
  background-color: $primary-card-background-color;
  padding: 20px;
  margin: 0 5px;
  border-radius: $border-radius-default;
  width: 100px;
  height: 440px;
  overflow: hidden;
  flex-grow: 1;
  transition: all 2s;

  @media (min-width: 900px) {
    margin: 0 25px;
    height: 400px;
  }

  &:first-child {
    //margin-right: 40px;
  }
  &:last-child {
    //margin-left: 40px;
  }

  .funkycorp-employee-bio {
    position: relative;
    &.collapsed {
      max-height: 120px;
      overflow: hidden;
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(248, 248, 248, 0) 0%, rgb(248, 248, 248) 100%, #f8f8f8 100%);
      }
    }
  }
  .funkycorp-employee-description-container {
    flex: 1;
    position: relative;
  }
  .funkycorp-employee-contact-details-container {
    flex: 1;
    transition: all 300ms;
    overflow: hidden;
    display: block;
    clear: left;
    &.collapse {
      flex: 0;
    }

    .funkycorp-header-secondary {
      margin-top: 0;
      color: $secondary-header-color;
    }
  }
}

/* Common Layout Items */

footer {
  &.copyright {
    color: $primary-font-color;
    margin: 20px 0;
    text-align: center;
  }
}

/* CCCReactTransition */
.panel-enter {
  flex-grow: 0;
  width: 0;
  opacity: .5;
  padding: 0;
}

.panel-enter.panel-enter-active {
  flex-grow: 1;
  opacity: 1;
  padding: 20px;
}

.panel-leave {
  flex-grow: 1;
  width: 100%;
}

.panel-leave.panel-leave-active {
  flex-grow: 0;
  width: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}